.track-card {
  position: relative;
  background-color: #181818;
  border-radius: 12px;
  padding: 16px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.track-card:hover {
  background-color: #282828;
}

.track-highlighted {
  background-color: #303030 !important;
}

.track-image {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.track-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

.play-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #1db954;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.track-image:hover .play-button {
  opacity: 1;
  transform: scale(1.05);
}

.track-info h3 {
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.track-info p {
  font-size: 14px;
  margin: 0;
  color: #b3b3b3;
}

.options-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0,0,0,0.3);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.options-button:hover {
  background: rgba(0,0,0,0.8);
}

.options-dropdown {
  position: absolute;
  bottom: -90px;
  right: 0px;
  right: 0;
  background: #282828;
  border-radius: 8px;
  list-style: none;
  padding: 8px 0;
  margin: 0;
  width: 160px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  z-index: 10;
}

.options-dropdown li {
  padding: 10px 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.options-dropdown li:hover {
  background-color: #3e3e3e;
}
