.track-list-wrapper {
  margin-top: 3rem;
  margin-left: 50px;
  margin-right: 50px;
}

.track-list-header {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 1rem;
}

.track-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
